In [10]:
%pip install numpy pandas openpyxl

Requirement already satisfied: numpy in c:\users\gm4\appdata\local\programs\python\python312\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\gm4\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\gm4\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gm4\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gm4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gm4\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\gm4\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\gm4\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
import numpy as np
import pandas as pd

1 - ETENDUE

In [12]:
temps = [12, 15, 14, 17, 21, 24, 28, 26, 22, 19, 16, 13]

def etendue(x):
    return max(x) - min(x)

resultat = etendue(temps)
print(resultat)

16

2 - VARIANCE

In [13]:
dev103 = [18, 19, 17, 20, 18, 19, 17, 18, 20, 19, 16, 20, 17, 19, 18, 20, 19, 17, 19, 18]
dev105 = [12, 14, 13, 15, 11, 13, 14, 12, 15, 13, 11, 12, 14, 13, 12, 11, 15, 13, 14, 12]

def variance(x):
    return np.var(x)

print(f"variance du groupe dev103 {variance(dev103)}")
print(f"variance du groupe dev105 {variance(dev105)}")

variance du groupe dev103 1.3400000000000003
variance du groupe dev105 1.6475000000000002

3 - ECART TYPE

In [14]:
salaries = {
    'Poste': ['Ingénieur Senior', 'Ingénieur Confirmé', 'Ingénieur Junior', 'Ingénieur Débutant', 'Ingénieur en Formation',
              'Technicien Expert', 'Technicien Senior', 'Technicien Confirmé', 'Technicien Junior', 'Technicien Débutant',
              'Technicien en Formation', 'Assistant Technique', 'Apprenti Technicien', 'Stagiaire Technique'],
    'Salaire Mensuel (en MAD)': [12986, 11458, 9167, 7639, 6875, 6111, 5347, 4583, 3820, 3361, 3056, 2750, 2445, 1667]
}

salaries = pd.DataFrame(salaries)

def ecarttype(x):
    return np.std(x)

print(f"ecart type des salaires: {ecarttype(salaries['Salaire Mensuel (en MAD)'])}")

ecart type des salaires: 3341.8064320950484

4 - QUARTILES

In [15]:
def quartiles(x):
    per = [25,50,75]
    return np.percentile(x,per)

print(f"quartiles du groupe dev105: {quartiles(dev105)}")

quartiles du groupe dev105: [12. 13. 14.]

5 - DECILES

In [17]:
data = pd.read_excel('Table.xlsx')
print(data)
def deciles(x):
    return np.percentile(x, np.arange(0, 101, 10))

print(f"deciles des revenus minimum: {deciles(data['revenu mensuel min'])}")
print(f"deciles des revenus maximum: {deciles(data['revenu mensuel max'])}")

                                           Profession  revenu mensuel min  \
0      Salarié dans le secteur public (fonctionnaire)                4000
1     Employé dans le secteur privé (niveau débutant)                5000
2   Employé dans le secteur privé (niveau interméd...                8000
3       Employé dans le secteur privé (niveau senior)               15000
4                                 Médecin généraliste               20000
..                                                ...                 ...
89               Responsable de la recherche clinique               15000
90          Responsable de l'engagement communautaire               10000
91        Consultant en développement organisationnel               15000
92            Responsable de la communication interne               12000
93                        Expert en analyse de marché               12000

    revenu mensuel max
0                12000
1                 8000
2                15000
3                30000
4                50000
..                 ...
89               30000
90               20000
91               30000
92               25000
93               25000

[94 rows x 3 columns]
deciles des revenus minimum: [ 3000.  6000.  8000. 10000. 10000. 12000. 12000. 15000. 15000. 20000.
 30000.]
deciles des revenus maximum: [ 8000. 12000. 19200. 20000. 25000. 25000. 25000. 30000. 30000. 40000.
 80000.]